.text {
  text-align: center;
  font-family: var(--font-family-noto);
}

.jaText {
  margin-bottom: calc(28 * var(--pxToRem));
  color: #262626;
  line-height: 180%;
  font-family: var(--font-family-noto);
}
.enText {
  font-size: calc(13 * var(--pxToRem));
}
.intro {
  margin-top: calc(28 * var(--pxToRem));
}
.introInner {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 7.5rem;
  row-gap: 2rem;
}
@media (width >= 768px) {
  .introInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 80px;
    margin-top: calc(120 / 16 * 1rem);
  }
}
.introBody {
  font-size: 1rem;
  max-width: 620px;
}
@media (width >= 768px) {
  .introBody {
    width: calc(619 / 1093 * 100%);
    font-size: 1rem;
    max-width: 620px;
  }
}
.introWrapper {
  padding-bottom: calc(80 / 16 * 1rem);
}
.introCanvas {
  border-radius: 20px;
  overflow: hidden;
}
@media (width >= 768px) {
  .introCanvas {
    width: calc(394 / 1093 * 100%);
  }
  .introWrapper {
    padding-bottom: calc(160 / 16 * 1rem);
  }
}
.projectsTitle {
  font-size: calc(36 / 16 * 1rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: calc(54 / 16 * 1rem);
}
