:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-text-main: #333;
  --color-text-sub: #999;
  --color-text-unpainted: #fff;
  --color-text-error: #f33;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #1e1e1e;
  --color-bg-painted: #333;
  --color-border-dark: #333;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --color-button-primary: #333;
  --border-radius: 4px;
  --color--dark: #202020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  /* color: var(--color-text-main); */
  line-height: 1.8;
  /* background-color: #040441; */
}

code {
  font-family: menlo, inconsolata, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
:root {
  --ease-inout-sine: cubic-bezier(0.37, 0, 0.63, 1);
  --ease-none: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  --ease-power1-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-power1-inout: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-power1-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-power2-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-power2-inout: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-power2-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-power3-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-power3-inout: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-power3-out: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-power4-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-power4-inout: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-power4-out: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-expo-inout: cubic-bezier(1, 0, 0, 1);
  --ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-circ-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-circ-inout: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-circ-out: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-back-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-back-inout: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --ease-back-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --blue: #0070d2;
  --yellow: #fdd504;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #c00;
  --orange: #fd7e14;
  --green: #008827;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #00a1e0;
  --secondary: #6c757d;
  --success: #008827;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #c00;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 544px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-kaisei: "Kaisei Opti", serif;
  --font-family-vdl: "vdl-penletter", sans-serif;
  --font-family-zen: "zen-kurenaido", sans-serif;
  --font-family-noto: "Noto Sans JP", sans-serif;
  --font-family-jost: "Jost", sans-serif;
  --pxToRem: calc(1 / 16 * 1rem);
  --font-size-base: 16px;
  --font-weight-regular: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

/*! Oreset.css v2.0.0 | MIT License | https://github.com/hirosiva/Oreset.css */
/*
  # Global
---------------------------------------------- */
*,
::before,
::after {
  min-inline-size: 0;
}
img {
  user-select: none;
}
/*
  # Document & Sections
---------------------------------------------- */
:where(html) {
  block-size: 100%;
}

:where(body) {
  min-block-size: 100%;
  overflow-x: clip;
  font-feature-settings: "pkna";
  color: theme("colors.dark");
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*
  # Text-level semantics
---------------------------------------------- */
:where(a:not([class])) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/*
  # Embedded content
---------------------------------------------- */
:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

/*
  # Forms
---------------------------------------------- */

:where(button, label, select, summary, [role="button"], [role="option"]) {
  cursor: pointer;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

/*
  # Interactive & Misc
---------------------------------------------- */
:where(template, [hidden]:not([hidden="until-found"])) {
  display: none;
}

:where(summary) {
  display: block;
}
:where(summary)::-webkit-details-marker {
  display: none;
}

/*
  # Accessibility
---------------------------------------------- */
:where([disabled], [aria-disabled="true"]) {
  cursor: not-allowed;
}

:where([aria-busy="true"]) {
  cursor: progress;
}

:where([aria-controls]) {
  cursor: pointer;
}

:where([aria-hidden="false"][hidden]) {
  display: initial;
}

:where([aria-hidden="false"][hidden]):not(:focus) {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

:where(:focus:not(:focus-visible), ::before:focus:not(:focus-visible), ::after:focus:not(:focus-visible)) {
  outline: none;
}

/**
 * Prettier ignore
 */
@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;
  }
}
/**
* @license
*
* Font Family: Satoshi
* Designed by: Deni Anggara
* URL: https://www.fontshare.com/fonts/satoshi
* © 2025 Indian Type Foundry
*
* Satoshi Light
* Satoshi LightItalic
* Satoshi Regular
* Satoshi Italic
* Satoshi Medium
* Satoshi MediumItalic
* Satoshi Bold
* Satoshi BoldItalic
* Satoshi Black
* Satoshi BlackItalic
* Satoshi Variable (Variable font)
* Satoshi VariableItalic (Variable font)

*
*/
@font-face {
  font-family: "Satoshi-Light";
  src: url("/fonts/Satoshi-Light.woff2") format("woff2"), url("/fonts/Satoshi-Light.woff") format("woff"),
    url("/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("/fonts/Satoshi-LightItalic.woff2") format("woff2"), url("/fonts/Satoshi-LightItalic.woff") format("woff"),
    url("/fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"), url("/fonts/Satoshi-Regular.woff") format("woff"),
    url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("/fonts/Satoshi-Italic.woff2") format("woff2"), url("/fonts/Satoshi-Italic.woff") format("woff"),
    url("/fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"), url("/fonts/Satoshi-Medium.woff") format("woff"),
    url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("/fonts/Satoshi-MediumItalic.woff2") format("woff2"), url("/fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("/fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"), url("/fonts/Satoshi-Bold.woff") format("woff"),
    url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.g-bg-dark {
  position: relative;
  color: #fff;
  background-color: #fff;
}
.g-bg-dark::after {
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 0;
  position: fixed;
  background: linear-gradient(180deg, #2d2f4e 0%, #a4abbb 100%);
}
.g-bg-dark::before,
.g-bg-purple:before,
.g-bg-about::before {
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 0;
  position: fixed;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  pointer-events: none;
  background-size: 70px 70px;
  background-position: top 0 left calc(50% + 28px);
  background-image: linear-gradient(hsla(0, 0%, 95%, 0.02) 1px, transparent 1px),
    linear-gradient(to right, hsla(0, 0%, 95%, 0.02) 1px, transparent 1px);
  z-index: 1;
}
.g-bg-purple:before {
  opacity: 1;
  background-image: linear-gradient(hsla(100, 100%, 100%, 15%) 1px, transparent 1px),
    linear-gradient(to right, hsla(100, 100%, 100%, 15%) 1px, transparent 1px);
}
.g-bg-about::before {
  background-image: linear-gradient(hsla(100, 100%, 100%, 3%) 1px, transparent 1px),
    linear-gradient(to right, hsla(100, 100%, 100%, 3%) 1px, transparent 1px);
}
.g-bg-purple {
  position: relative;
  color: #fff;
}

.g-bg-purple::after {
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
  position: fixed;
  background: linear-gradient(180deg, #a4abbb 0%, #eff1f3 100%);
}
.g-bg-about {
  position: relative;
  color: #fff;
}
.g-bg-about::after {
  content: "";
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
  position: fixed;
  background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.503333) 49.67%, rgba(38, 38, 38, 0) 100%);
}
.g-bg-white {
  background-color: #fff;
  color: #262626;
}
.g-bg-code {
  background-color: var(--color-bg-code);
}
.g-container-category {
  max-width: 720px;
  margin-inline: auto;
  padding: 5vi;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.loading-bg {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  z-index: 1000;
  transition-delay: 3s;
}
.is-loagding .loading-bg {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-loagding .loading-bg {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.overlay {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-auto-rows: 1fr;
  z-index: 9999;
  pointer-events: none;
}

.block {
  background: black;
  aspect-ratio: 1 / 1;
}
.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  font-size: 3.5rem;
}
.text-white h1 {
  color: #262626;
}
/* ::view-transition-new(cross-fade) {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out 0.2s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

/* View Transitionsのカスタマイズ */
/* ::view-transition-old(root) {
  animation: 0.3s ease-out fadeOut;
}

::view-transition-new(root) {
  animation: 0.3s ease-in fadeIn;
} */

/* 個別の要素には具体的な名前を指定 */
/* ::view-transition-old(thumbnail-1),
::view-transition-old(thumbnail-2),
::view-transition-old(thumbnail-3) {
  animation: 0.4s ease-out scale-down;
} */

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes scale-down {
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
.footerTitle {
  display: inline-block;
  /* opacity: 0; */
  left: 50%;

  width: max-content;
  /* clip-path: inset(100% 0% 0% 0%); */
  transition: transform 0.7s var(--ease-power3-out);
  transform: translateX(-50%) translateY(100%) scaleY(0.3);
  /* transition: opacity 0.3s ease-out, transform 0.3s ease-out; */
  /* transition-delay: calc(var(--index) * 0.1s); */
}

.is-footer .footerTitle {
  transform: translateX(-50%) translateY(0) scaleY(1);
  /* clip-path: inset(0% 0% 0% 0%); */
  /* opacity: 1; */
  /* transform: translateY(0); */
}
.is-screen--back {
  position: fixed;
  top: 0;
  left: 0;
}

.g-btn__wrapper--techlog,
.g-btn__wrapper--lifelog {
  z-index: 100;
  color: #fff;
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
  margin-inline: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.9s;
  display: flex;
  justify-content: center;
}
.is-techlog .g-btn__wrapper--techlog {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  text-align: center;
}
.is-lifelog .g-btn__wrapper--lifelog {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* .is-back .g-btn__wrapper {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
} */
.menu-item .is-current {
  color: #a62d43;
}
@media (width >= 768px) {
  .menu-item .is-current {
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #a62d43;
  }
}
.text__life h1,
.is-life .footerTitle {
  font-style: italic;
  font-weight: 300;
  color: #38446a;
  font-family: var(--font-family-jost);
}
/* globals.cssに追加 */
.custom-cursor {
  cursor: none;
}
.is-back .custom-cursor {
  cursor: initial;
}
.g-techlog {
  display: block;
  margin-bottom: 1rem;
}
.g-mouseStalker {
  opacity: 1;
  transition: all 0.5s;
  background-color: #000;
  color: #fff;
  /* transform: scale(0); */
}
.custom-cursor .g-mouseStalker {
  /* transform: scale(1); */
}
.is-back .g-mouseStalker {
  display: none;
}
.u-wrapper {
  position: relative;
  max-inline-size: 1440px;
  padding-inline: 5vi;
  margin-inline: auto;
  box-sizing: content-box;
  z-index: 1;
}
.u-wrapper--about {
  position: relative;
  max-inline-size: 1160px;
  padding-inline: 5vi;
  margin-inline: auto;
  box-sizing: content-box;
}
.u-wbr.pc {
  display: none;
}
.u-wbr.sp {
  display: block;
}
@media (width >= 768px) {
  .u-wbr.pc {
    display: block;
  }
  .u-wbr.sp {
    display: none;
  }
}
/* .menu-item li:not(:last-child) {
  position: fixed;
} */

/* .menu-item-wrap {
  visibility: hidden;
  transition: clip-path 0.3s, visibility 0.3s;
  clip-path: polygon(0px 0%, 100% 0%, 100% 0%, 0px 0%);
}
.is-active .menu-item-wrap {
  clip-path: polygon(0px 0%, 100% 0%, 100% 100%, 0px 100%);
  visibility: visible;
}
.is-close.is-active .menu-item-wrap {
  clip-path: polygon(0px 100%, 100% 100%, 100% 100%, 0px 100%);
  visibility: visible;
} */
.menu-item-wrap {
  visibility: hidden;
  /* transition: clip-path 0.3s, visibility 0.3s; */
  clip-path: polygon(0px 0%, 100% 0%, 100% 0%, 0px 0%);
  @media (width >= 768px) {
    visibility: visible;
    clip-path: none;
  }
}
.text__about h1 {
  font-family: var(--font-family-noto);
  font-weight: 400;
}
/* .rotating-circle {
  animation: rotateCircle 6s linear infinite;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg) translate(61.9534%, 48.7068%);
  }
  100% {
    transform: rotate(360deg) translate(61.9534%, 48.7068%);
  }
} */
.g-lifelog-modal {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
  transform: translateY(10px);
  color: #111;
}
.is-lifelog .g-lifelog-modal {
  opacity: 1;
  transform: translateY(0px);
}
.c-button {
  border: none;
  background-color: transparent;
}
.article-margin {
  padding-bottom: 3rem;
}
