.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: 'system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif';
  margin-bottom: 24px;
}

.text {
  font-size: 1rem;
  text-align: center;
}

.container {
  position: relative;
  max-inline-size: 1440px;
  padding-inline: 5vi;
  margin-inline: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 2rem 0;
}

@media (max-width: 640px) {
  .title {
    text-align: left;
  }

  .text {
    text-align: left;
  }
  .container {
    position: relative;
    max-inline-size: 1440px;
    padding-inline: 5vi;
    margin-inline: auto;
  }
}
