.mouseStalker__cursor,
.mouseStalker__follower {
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: none;
  pointer-events: none;
  transition: opacity 900ms ease;
}

.mouseStalker__cursor {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);
  transition-property: opacity, transform;
  transition-duration: 400ms, 400ms;
  z-index: 2;
  transform: scale(0);
  opacity: 0;
  /* easeOutCubic */
  /* transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); */
}

.mouseStalker__follower {
  width: 100px;
  height: 100px;
  /* left: 50px;
  top: 50px; */
  /* transform: translate(-50%, -50%); */
  background-color: transparent;
  opacity: 0;
  z-index: 2;
  transition: all 1600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2235%22%20height%3D%2214%22%20viewBox%3D%220%200%2035%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.976%2013.224C4.176%2013.224%203.46133%2013.0427%202.832%2012.68C2.20267%2012.3067%201.70133%2011.7787%201.328%2011.096C0.954667%2010.4027%200.768%209.57067%200.768%208.6C0.768%207.61867%200.970667%206.78667%201.376%206.104C1.78133%205.41067%202.31467%204.88267%202.976%204.52C3.63733%204.15733%204.352%203.976%205.12%203.976C5.68533%203.976%206.176%204.072%206.592%204.264C7.008%204.456%207.376%204.696%207.696%204.984L6.784%206.184C6.54933%205.97067%206.304%205.80533%206.048%205.688C5.792%205.56%205.51467%205.496%205.216%205.496C4.72533%205.496%204.288%205.62933%203.904%205.896C3.52%206.152%203.216%206.51467%202.992%206.984C2.77867%207.44267%202.672%207.98133%202.672%208.6C2.672%209.21867%202.77867%209.76267%202.992%2010.232C3.20533%2010.6907%203.49867%2011.048%203.872%2011.304C4.24533%2011.56%204.672%2011.688%205.152%2011.688C5.52533%2011.688%205.872%2011.6133%206.192%2011.464C6.512%2011.304%206.80533%2011.112%207.072%2010.888L7.84%2012.12C7.43467%2012.4827%206.98133%2012.76%206.48%2012.952C5.97867%2013.1333%205.47733%2013.224%204.976%2013.224ZM11.4816%2013.224C11.0336%2013.224%2010.6763%2013.1333%2010.4096%2012.952C10.143%2012.76%209.95096%2012.4933%209.83363%2012.152C9.71629%2011.8%209.65763%2011.3893%209.65763%2010.92V0.247999H11.4976V11.016C11.4976%2011.2613%2011.5403%2011.4373%2011.6256%2011.544C11.7216%2011.64%2011.823%2011.688%2011.9296%2011.688C11.9723%2011.688%2012.015%2011.688%2012.0576%2011.688C12.1003%2011.6773%2012.1643%2011.6667%2012.2496%2011.656L12.4736%2013.048C12.367%2013.0907%2012.2336%2013.128%2012.0736%2013.16C11.9136%2013.2027%2011.7163%2013.224%2011.4816%2013.224ZM14.4233%2013V4.184H16.2633V13H14.4233ZM15.3513%202.552C14.9993%202.552%2014.7166%202.45067%2014.5033%202.248C14.3006%202.04533%2014.1993%201.77333%2014.1993%201.432C14.1993%201.112%2014.3006%200.850666%2014.5033%200.648C14.7166%200.445333%2014.9993%200.344%2015.3513%200.344C15.6819%200.344%2015.9539%200.445333%2016.1673%200.648C16.3806%200.850666%2016.4873%201.112%2016.4873%201.432C16.4873%201.77333%2016.3806%202.04533%2016.1673%202.248C15.9539%202.45067%2015.6819%202.552%2015.3513%202.552ZM22.6166%2013.224C21.8166%2013.224%2021.102%2013.0427%2020.4726%2012.68C19.8433%2012.3067%2019.342%2011.7787%2018.9686%2011.096C18.5953%2010.4027%2018.4086%209.57067%2018.4086%208.6C18.4086%207.61867%2018.6113%206.78667%2019.0166%206.104C19.422%205.41067%2019.9553%204.88267%2020.6166%204.52C21.278%204.15733%2021.9926%203.976%2022.7606%203.976C23.326%203.976%2023.8166%204.072%2024.2326%204.264C24.6486%204.456%2025.0166%204.696%2025.3366%204.984L24.4246%206.184C24.19%205.97067%2023.9446%205.80533%2023.6886%205.688C23.4326%205.56%2023.1553%205.496%2022.8566%205.496C22.366%205.496%2021.9286%205.62933%2021.5446%205.896C21.1606%206.152%2020.8566%206.51467%2020.6326%206.984C20.4193%207.44267%2020.3126%207.98133%2020.3126%208.6C20.3126%209.21867%2020.4193%209.76267%2020.6326%2010.232C20.846%2010.6907%2021.1393%2011.048%2021.5126%2011.304C21.886%2011.56%2022.3126%2011.688%2022.7926%2011.688C23.166%2011.688%2023.5126%2011.6133%2023.8326%2011.464C24.1526%2011.304%2024.446%2011.112%2024.7126%2010.888L25.4806%2012.12C25.0753%2012.4827%2024.622%2012.76%2024.1206%2012.952C23.6193%2013.1333%2023.118%2013.224%2022.6166%2013.224ZM27.2983%2013V0.247999H29.1063V8.456H29.1703L32.5783%204.184H34.6263L31.6503%207.784L34.9623%2013H32.9623L30.5783%209.016L29.1063%2010.712V13H27.2983Z%22%20fill%3D%22%23020267%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.visible .mouseStalker__cursor,
.visible .mouseStalker__follower {
  opacity: 1;
  transform: scale(1);
}

.isHover .mouseStalker__cursor {
  width: 120px;
  height: 120px;
  left: -46px;
  top: -46px;
  opacity: 0.4;
}

.isHover .mouseStalker__follower {
  width: 0px;
  height: 0px;
  left: -36px;
  top: -36px;
  z-index: 3;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 1;
}

.isHover .mouseStalker__follower {
  z-index: 5;
  width: 120px;
  height: 120px;
  left: -46px;
  top: -46px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDc1IDE1Ij4KICA8dGV4dCBpZD0iVmlld19Nb3JlIiBkYXRhLW5hbWU9IlZpZXcgTW9yZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxMikiIGZpbGw9IiMxMjMwNDMiIGZvbnQtc2l6ZT0iMTUiIGZvbnQtZmFtaWx5PSJIZWx2ZXRpY2EiIGxldHRlci1zcGFjaW5nPSIwLjAzZW0iPjx0c3BhbiB4PSIwIiB5PSIwIj5WaWV3IE1vcmU8L3RzcGFuPjwvdGV4dD4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 1;
}
.is-back .mouseStalker {
  display: none;
}
