.mouseStalker__cursor,
.mouseStalker__follower {
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: none;
  pointer-events: none;
  /* transition: opacity 100ms ease; */
}
.is-back .mouseStalker__cursor,
.is-back .mouseStalker__follower {
  cursor: initial;
}
.mouseStalker__cursor {
  width: 100px;
  height: 100px;
  /* background-color: rgba(255, 255, 255, 1); */
  transition-property: opacity, transform;
  transition-duration: 100ms, 0;
  z-index: 2;
  transform: scale(0);
  opacity: 0;

  /* easeOutCubic */
  /* transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); */
}

.mouseStalker__follower {
  width: 100px;
  height: 100px;
  /* left: 50px;
  top: 50px; */
  /* transform: translate(-50%, -50%); */
  background-color: transparent;
  opacity: 0;
  z-index: 2;
  transition: all 1600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2249%22%20height%3D%2216%22%20viewBox%3D%220%200%2049%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5.706%2015.252C4.782%2015.252%203.948%2015.042%203.204%2014.622C2.46%2014.202%201.872%2013.602%201.44%2012.822C1.008%2012.03%200.792%2011.076%200.792%209.96C0.792%208.844%201.026%207.896%201.494%207.116C1.974%206.324%202.604%205.718%203.384%205.298C4.176%204.878%205.028%204.668%205.94%204.668C6.564%204.668%207.116%204.776%207.596%204.992C8.076%205.196%208.502%205.466%208.874%205.802L7.614%207.476C7.374%207.26%207.128%207.098%206.876%206.99C6.624%206.882%206.36%206.828%206.084%206.828C5.568%206.828%205.112%206.96%204.716%207.224C4.332%207.476%204.032%207.836%203.816%208.304C3.612%208.772%203.51%209.324%203.51%209.96C3.51%2010.596%203.612%2011.148%203.816%2011.616C4.032%2012.084%204.326%2012.45%204.698%2012.714C5.082%2012.966%205.514%2013.092%205.994%2013.092C6.354%2013.092%206.702%2013.014%207.038%2012.858C7.374%2012.702%207.68%2012.51%207.956%2012.282L9%2014.028C8.52%2014.448%207.986%2014.76%207.398%2014.964C6.822%2015.156%206.258%2015.252%205.706%2015.252ZM15.2162%2015.252C14.5922%2015.252%2014.1002%2015.126%2013.7402%2014.874C13.3802%2014.61%2013.1162%2014.25%2012.9482%2013.794C12.7922%2013.326%2012.7142%2012.786%2012.7142%2012.174V0.635999H15.3602V12.282C15.3602%2012.582%2015.4142%2012.792%2015.5222%2012.912C15.6422%2013.032%2015.7622%2013.092%2015.8822%2013.092C15.9422%2013.092%2015.9962%2013.092%2016.0442%2013.092C16.0922%2013.08%2016.1582%2013.068%2016.2422%2013.056L16.5662%2015.018C16.4102%2015.078%2016.2182%2015.132%2015.9902%2015.18C15.7742%2015.228%2015.5162%2015.252%2015.2162%2015.252ZM20.1919%2015V4.92H22.8379V15H20.1919ZM21.5239%203.282C21.0559%203.282%2020.6839%203.156%2020.4079%202.904C20.1319%202.64%2019.9939%202.286%2019.9939%201.842C19.9939%201.41%2020.1319%201.062%2020.4079%200.797999C20.6839%200.533999%2021.0559%200.401999%2021.5239%200.401999C21.9679%200.401999%2022.3339%200.533999%2022.6219%200.797999C22.9099%201.062%2023.0539%201.41%2023.0539%201.842C23.0539%202.286%2022.9099%202.64%2022.6219%202.904C22.3339%203.156%2021.9679%203.282%2021.5239%203.282ZM31.7427%2015.252C30.8187%2015.252%2029.9847%2015.042%2029.2407%2014.622C28.4967%2014.202%2027.9087%2013.602%2027.4767%2012.822C27.0447%2012.03%2026.8287%2011.076%2026.8287%209.96C26.8287%208.844%2027.0627%207.896%2027.5307%207.116C28.0107%206.324%2028.6407%205.718%2029.4207%205.298C30.2127%204.878%2031.0647%204.668%2031.9767%204.668C32.6007%204.668%2033.1527%204.776%2033.6327%204.992C34.1127%205.196%2034.5387%205.466%2034.9107%205.802L33.6507%207.476C33.4107%207.26%2033.1647%207.098%2032.9127%206.99C32.6607%206.882%2032.3967%206.828%2032.1207%206.828C31.6047%206.828%2031.1487%206.96%2030.7527%207.224C30.3687%207.476%2030.0687%207.836%2029.8527%208.304C29.6487%208.772%2029.5467%209.324%2029.5467%209.96C29.5467%2010.596%2029.6487%2011.148%2029.8527%2011.616C30.0687%2012.084%2030.3627%2012.45%2030.7347%2012.714C31.1187%2012.966%2031.5507%2013.092%2032.0307%2013.092C32.3907%2013.092%2032.7387%2013.014%2033.0747%2012.858C33.4107%2012.702%2033.7167%2012.51%2033.9927%2012.282L35.0367%2014.028C34.5567%2014.448%2034.0227%2014.76%2033.4347%2014.964C32.8587%2015.156%2032.2947%2015.252%2031.7427%2015.252ZM38.7509%2015V0.635999H41.3609V9.24H41.4329L44.8709%204.92H47.7689L44.3129%209.078L48.0929%2015H45.2129L42.7649%2010.806L41.3609%2012.444V15H38.7509Z%22%20fill%3D%22%23A62D43%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.visible .mouseStalker__cursor,
.visible .mouseStalker__follower {
  opacity: 1;
  transform: scale(0);
}

.isHover .mouseStalker__cursor {
  width: 120px;
  height: 120px;
  left: -46px;
  top: -46px;
  opacity: 0.4;
}

.isHover .mouseStalker__follower {
  width: 0px;
  height: 0px;
  left: -36px;
  top: -36px;
  z-index: 3;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 1;
}

.isHover .mouseStalker__follower {
  z-index: 5;
  width: 120px;
  height: 120px;
  left: -46px;
  top: -46px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDc1IDE1Ij4KICA8dGV4dCBpZD0iVmlld19Nb3JlIiBkYXRhLW5hbWU9IlZpZXcgTW9yZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxMikiIGZpbGw9IiMxMjMwNDMiIGZvbnQtc2l6ZT0iMTUiIGZvbnQtZmFtaWx5PSJIZWx2ZXRpY2EiIGxldHRlci1zcGFjaW5nPSIwLjAzZW0iPjx0c3BhbiB4PSIwIiB5PSIwIj5WaWV3IE1vcmU8L3RzcGFuPjwvdGV4dD4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 1;
}
.is-back .mouseStalker {
  display: none;
}
