.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 80px;
}
@media (width >= 768px) {
  .container {
    padding-block: 180px;
  }
}
.list {
  margin: 0 4px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  /* border: 1px solid #fff; */
}

.current {
  color: #040441;
  background-color: #fff;
  font-family: var(--font-family-noto);
  font-weight: 500;
}
