.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: calc(60 * var(--pxToRem));
  padding-bottom: calc(140 * var(--pxToRem));
  column-gap: calc(24 * var(--pxToRem));
  position: relative;
  z-index: 10;
}
@media (width >= 768px) {
  .container {
    padding-block: calc(80 * var(--pxToRem));
    padding-bottom: calc(180 * var(--pxToRem));
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
}

.current {
  color: #040441;
  background-color: #fff;
  font-family: var(--font-family-noto);
  font-weight: 500;
}
