.tag {
  color: #fff;
  padding: 4px 20px;
  white-space: nowrap;
  font-size: 0.8rem;
}
@media (width >= 768px) {
  .tag {
    white-space: nowrap;
    font-size: clamp(0.75rem, 0.662rem + 0.38vw, 1rem);
  }
}
